@charset"UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body,
html {
    background-color: lightgoldenrodyellow;
}

header {
    background-color: gray;
}

h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu ul {
    list-style-type: none;
}

menu>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(74, 72, 72);
    color: white;
    border-top: 2px solid gray
}

.material-icons {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.material-icons:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

menu {
    display: none;
}

menu>ul>li>a:hover {
    background-color: darkgray;
    color: black;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article>h2 {
    padding-bottom: 20px;
}

article>p {
    text-align: justify;
    padding-bottom: 20px;
    text-indent: 20px;
}