*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows:80px 40px 1fr 40px;
    grid-template-columns:1fr 150px;
    gap: 5px;
}



.caixa{
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

#topo{
    background-color: lightgoldenrodyellow;
    grid-area: 1/1/2/-1;
}

#menu{
    background-color: yellow;
    grid-area: 2/1/3/-1;
}

#principal{
    background-color: blue;
    grid-area: 3/1/-2/2;
}

#secundario{
    background-color: purple;
    grid-area: 3/-2/-2/-1;
}

#rodape{
    background-color: green;
    grid-area: -2/1/-1/-1;
}