@charset "UTF-8";

/*Configurações gerais do estilo*/


* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgb(95, 144, 160);
    padding: 10px;
}