@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #042940, #005c53);
}

main {
    border-radius: 5%;
    background-color:white;
    box-shadow: 10px 15px 10px #143e5899;
    margin:auto;
    padding: 10px;
    width: 400px;
}
h1{
    color:#005C53;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 28, 46, 0.573);

}

h2{
    color: #9FC131;
}

p {
    text-align: justify;
}